@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --logo-color: #2196f3;
  --primary-color: #000000;
  --logo-font: "Raleway", sans-serif;
  --file-font: "Roboto", sans-serif;
  --text-color: #757575;
  --background-lite: #f5f5f5;
  --backgraund-grey: #f5f4fa;
  --background-text-dark: #2f303a;
  --text-lite: #ffffff;
  --text-dark: #2f303a;
  --prime-text: #212121;
}

body {
  font-family: var(--file-font);
  color: var(--prime-text);
}

/*               Header                      */
/* logo */
.logo-link {
  text-decoration: none;
}

.logo-text {
  font-family: var(--file-font);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-link:hover,
.logo-link:focus {
  color: var(--logo-color);
}

.logo {
  color: var(--logo-color);
}

/* nav */

.nav {
  font-family: inherit;
  text-decoration: none;
}

.list-link {
  text-decoration: none;
  font-family: inherit;
  font-style: Medium;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2%;
  color: var(--primary-color);
}

.list-link:hover,
.list-link:focus {
  text-decoration: none;
}

.list > .logo {
  color: var(--logo-color);
}

.list {
  list-style-type: none;
  text-decoration: none;

  color: inherit;
  text-decoration: none;
}

/* contact */

.contacts {
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 2%;
}

.contact-link {
  color: var(--text-color);
  margin-left: 50px;
}

.contact-link:first-of-type {
  color: var(--logo-color);
}

/*                  mine                   */

.title {
  height: 120px;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  line-height: 0.7;
  letter-spacing: 6%;
  padding-top: 200px;
  color: var(--background-lite);
}

.main-title {
  height: 600px;
  text-align: center;
  background-color: var(--text-dark);
}

.main-button {
  font-weight: 700;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--logo-color);
  color: var(--text-lite);
}

.main-button:hover,
.main-button:focus {
  cursor: pointer;
}

/*                      section                   */

.list-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 3%;
}

.section-info {
  background-color: var(--background-lite);
}

.section-item {
  list-style-type: none;
}

.list-text {
  color: var(--text-color);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.8;
  align-items: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}

/*                section image                          */
.section-image {
  background-color: var(--backgraund-grey);
}

.titles {
  text-align: center;
  height: 42px;
  color: var(--prime-text);
}

.image-item {
  list-style-type: none;
}

.section-team {
  background-color: var(--backgraund-grey);
}

/*                section team                             */

.team-list {
  list-style-type: none;
}

.team-workers {
  font-size: Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 3%;
  color: #212121;
}

.team-text {
  font-size: 16px;
  line-height: 0.9;
  letter-spacing: 3%;
  text-align: center;
  color: #757575;
}

.team-card {
  width: 270px;
  height: 368px;
  border-radius: 4px;
  background-color: var(--text-lite);
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  margin: 94px;
}

/*                        footer                                     */

footer {
  height: 252px;
  background-color: var(--background-text-dark);
  color: var(--text-lite);
  padding-top: 60px;
}

.footer-info {
  margin-left: 215px;
}

.footer-addres {
  color: var(--text-lite) 60%;
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 14/24;
  text-align: Left;
  letter-spacing: 3%;
  fill: solid;
  padding-top: 20px;
}

.footer-link {
  color: var(--text-lite);
  opacity: 60%;
}

a {
  color: var(--text-lite);
}

.footer-addres > body {
  font-family: inherit;
}

/*                        page2 portfolio                             */

.title-non {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.main-button-nav {
  height: auto;
}

.button-list {
  cursor: pointer;
  list-style-type: none;
  padding: auto;
}

.logo-btn {
  background-color: var(--logo-color);
}

.button-nav > .logo-btn {
  background-color: var(--logo-color);
}

.button-nav {
  cursor: pointer;
  height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.65;
  text-align: Center;
  fill: solid;
  border-style: none;
  border-radius: 4px;
  margin: 8px;
}

/*                     cards                    */

.main-cards {
  display: inline-block;
}

.card-list {
  list-style-type: none;
}

.card {
  width: 370px;
  height: 404px;
  border: 1px solid;
  border-color: #eeeeee;
  margin: 30px;
  background-color: #ffffff;
}

.card-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 6%;
  margin-left: 24px;
  color: #212121;
}
.card-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 0.55;
  letter-spacing: 3%;
  margin-left: 24px;
  margin-bottom: 8px;
  padding-bottom: 20px;
  color: #757575;
}
.color {
  color: #008000;
}
