:root {
  --logo-color: #2196f3;
  --primary-color: #000000;
  --logo-font: "Raleway", sans-serif;
  --file-font: "Roboto", sans-serif;
  --text-color: #757575;
  --background-lite: #f5f5f5;
  --backgraund-grey: #f5f4fa;
  --background-text-dark: #2f303a;
  --text-lite: #ffffff;
  --text-dark: #2f303a;
  --prime-text: #212121;
  --size-repeat: 14px;
  --biger-size: 16px;
  --min-spacing: 0.03em;
  --line-little: 1.17;
  --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--file-font);
  color: var(--prime-text);
}

.container {
  width: 1200px;
  height: auto;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*               Header                      */
/* logo */

.nav-block {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--text-lite);
}

.logo-text {
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
}

.logo {
  color: var(--logo-color);
}

/* nav */

.nav-block {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;

  margin-left: 93px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.list:nth-child(1) {
  margin-right: 53px;
}

.list:nth-child(2) {
  margin-right: 50px;
}

.list-link {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--size-repeat);
  line-height: 1.2;
  color: var(--primary-color);

  transition: background-color var(--time) var(--timing-function);
}

.list-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color);
  border-radius: 4px;

  opacity: 0;
  transition: opasity var(--time) var(--timing-function);
}

.logo::before {
  content: "";
  opacity: 1;
}

.list-link:hover::before {
  content: "";
  opacity: 1;
}

.list-link:hover,
.list-link:focus {
  color: var(--logo-color);
}

/* .list-link > .logo {
  color: var(--logo-color);
} */

/* contact */

.contacts {
  display: flex;
  font-weight: 500;
  font-size: var(--size-repeat);
  line-height: var(--line-little);
  /* margin-left: auto; */
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin-left: 50px;

  transition: background-color var(--time) var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  fill: var(--logo-color);
  color: var(--logo-color);
}

.icon-info {
  fill: currentColor;
  margin-right: 10px;
}

/*                  mine                   */

.hero {
  background-color: var(--background-text-dark);
}

.title {
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-lite);
}

.main-titl {
  text-align: center;
}

.hero-img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/ImgHero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-button {
  font-weight: 700;
  font-size: var(--biger-size);
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--logo-color);
  color: var(--text-lite);
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-color: var(--text-lite);
}

.icon-close {
  width: 11px;
  height: 11px;
}

/*                      section                   */

.section-item {
  display: flex;
  justify-content: space-between;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--backgraund-grey);
  border-radius: 4%;
}

.about-img ::before {
  content: "";
  width: 270px;
  border-radius: 4%;
}

.only-top {
  padding-top: 94px;
}

.list-title {
  text-transform: uppercase;
  font-size: var(--size-repeat);
  line-height: var(--line-little);
  padding-bottom: 10px;
  padding-top: 30px;
}

.background-lite {
  background-color: var(--text-lite);
}

.list-text {
  color: var(--text-color);
  font-size: var(--size-repeat);
  line-height: 1.71;
  letter-spacing: var(--min-spacing);
  width: 270px;
}

/*                section image                          */

.image-item {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
  text-align: center;
  color: var(--prime-text);
  margin-bottom: 50px;
}

.image-list {
  position: relative;
}

.images-text {
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-lite);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.title-text {
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 1;
}

/*                section team                             */

.team-color {
  background-color: var(--backgraund-grey);
}

.team-workers {
  font-weight: 500;
  font-size: var(--biger-size);
  line-height: var(--line-little);
  text-align: center;
  letter-spacing: var(--min-spacing);
  color: var(--prime-text);
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--backgraund-grey);
}
.team-workers {
  width: 270px;
  background-color: var(--text-lite);
  padding-bottom: 10px;
}

.team-text {
  width: 270px;
  font-size: var(--biger-size);
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
  background-color: var(--text-lite);
  text-align: center;
  color: var(--text-color);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-lite);
  box-shadow: var(--team-shadow);
}

.workers-list {
  display: flex;
  margin-top: 16px;
  margin-left: 32px;
  gap: 10px;
}

.team-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;

  transition: background-color border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc:hover,
.team-soc:focus {
  fill: #ffffff;
  background-color: var(--logo-color);
  border-radius: 50%;
}
/* ..........................client................................... */

.client {
  display: flex;
  flex-direction: column;
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-item {
  display: flex;
}

.icon-link {
  display: flex;
  background-size: contain;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.icons {
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover,
.icons:focus {
  fill: #2196f3;
}

/*                        footer                                     */

footer {
  background-color: var(--background-text-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info {
  color: var(--text-lite);
}

.logo-color {
  color: var(--text-lite);
}

.address-list {
  padding-top: 9px;
}

.address-item {
  padding-top: 20px;
}

.footer-address {
  color: var(--text-lite) 60%;
  font-family: var(--file-font);
  font-weight: normal;
  font-style: normal;
  font-size: var(--size-repeat);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--text-lite);
  opacity: 60%;
}

a {
  color: var(--text-lite);
}

.footer-addres > body {
  font-family: inherit;
}

.footer {
  display: flex;
}
.footer-title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-left: 71px;
}

.footer-list {
  display: flex;
}

.footer-item:first-of-type {
  margin-left: 70px;
}

.footer-item {
  margin-top: 25px;
  padding-right: 10px;
}

.footer-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;

  transition: background-color border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc:hover,
.footer-soc:focus {
  fill: #ffffff;
  background-color: var(--logo-color);
  border-radius: 50%;
}

.footer-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-text-dark);
  margin-top: 12px;
}

/*                        page2 portfolio                             */
header {
  border-bottom: #ececec 1px solid;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button-list {
  margin-right: 8px;
  border-radius: 4px;
}

.button-list > .logo {
  background-color: var(--logo-color);
  color: var(--text-lite);
}

.title-non {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.button-nav {
  font-weight: 500;
  font-size: var(--biger-size);
  line-height: 1.6;
  letter-spacing: var(--min-spacing);
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  background-color: var(--backgraund-grey);
  color: var(--prime-text);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav:hover,
.button-nav:focus {
  background-color: var(--logo-color);
  color: var(--text-lite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*                     cards                    */

.card {
  border: 1px solid #eeeeee;
  width: 370px;
  gap: 30px;

  transition: box-shadow var(--time) var(--timing-function);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-cards {
  display: flex;
  margin-top: 50px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* overlay */

.portfolio-link {
  position: relative;
  overflow: hidden;
  display: block;
  transition: var(--time) var(--timing-function);
}

.portfolio-text {
  color: var(--text-lite);
  background-color: var(--logo-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.card:hover .portfolio-link::before {
  content: "";
  transform: translateY(-100%);
  transition: transform var(--time) var(--timing-function);
}

.card:hover .portfolio-overlay {
  opacity: 0.9;
  transform: translateY(-100%);
  transition: transform var(--time) var(--timing-function);
}

.portfolio-overlay:hover::before {
  content: "";
  opacity: 0;
}

.portfolio-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--logo-color);

  opacity: 0.9;
  transform: translateY(0);
  transition: transform var(--time) var(--timing-function);
}

.card-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--prime-text);
  background-color: var(--text-lite);
}

.card-text {
  font-family: inherit;
  font-size: var(--biger-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--text-lite);
  margin-top: 4px;
}

.card-info {
  padding: 20px 24px 20px 24px;
  opacity: 1;
}
