:root {
  --logo-color: #2196f3;
  --primary-color: #000000;
  --logo-font: "Raleway", sans-serif;
  --file-font: "Roboto", sans-serif;
  --text-color: #757575;
  --background-lite: #f5f5f5;
  --backgraund-grey: #f5f4fa;
  --background-text-dark: #2f303a;
  --text-lite: #ffffff;
  --text-dark: #2f303a;
  --prime-text: #212121;
  --size-repeat: 14px;
  --biger-size: 16px;
  --min-spacing: 0.03em;
  --line-little: 1.17;
  --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}