footer{
  @extend %section-footer;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width:$tablet){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  }

  @media screen and (min-width:$desktop){
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  }
}

.footer__info {
  width: auto;
  color: var(--text-lite);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width:$tablet){
  width: auto;
  }

  @media screen and (min-width:$desktop){
  align-items: flex-start;
  margin: 0;
  }
}

.logo__text footer{
  font-family: Raleway;
  @extend %logo;
}

.logo-color {
  color: var(--text-lite);
}

.footer__address {
  color: var(--text-lite) 60%;
  font-family: var(--file-font);
  font-style: normal;
  font-size: var(--size-repeat);
  line-height: calc(24px/14px);
  letter-spacing: var(--min-spacing);
}

.address-list {
  padding-top: 20px;
}

.footer__item{
  text-align: center;
  margin-bottom: 9px;

  @media screen and (min-width:$desktop){
  text-align: left;
  }
}

.footer__link {
  width: 100%;
  color: var(--text-lite);
  opacity: 60%;
  margin-bottom: 9px;

  a {
  color: var(--text-lite);
  }
}

.footer__social {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  @media screen and (min-width:$tablet) {
  width: auto;
  padding: 0;
  }

  @media screen and (min-width:$desktop){
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: baseline;
  }
}

.footer__title {
  text-transform: uppercase;
  color: var(--text-lite);
  font-weight: 700;
  font-size: var(--size-repeat);
  line-height: calc(24px/14px);
  letter-spacing: var(--min-spacing);
  text-align: center;

  @media screen and (min-width:$desktop){
  width: auto;
  text-align:start;
  }
}

.footer__social-list{
  display: flex;
}

.footer__social-item{
  margin-top: 20px;
  margin-right: 10px;
}

.footer-soc {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--text-lite);


  &:hover,
  &:focus {
  fill: var(--text-lite);
  background-color: var(--logo-color);
  border-radius: 50%;
  }
}

// register///////////////////////////////

.register {
  width: 100%;
  max-width: 570px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop){
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  }
}

.register__wrap {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $desktop){
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start
  }
}

.register__form {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-text-dark);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  outline: none;
  padding-left: 16px;
  transition: outline-color var(--time) var(--timing-function);

  &::placeholder {
  color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
  border-color: var(--logo-color);
  }

  @media screen and (min-width:$mobile) {
  width: 100%;
  max-width: 450px;
  }

  @media screen and (min-width:$tablet){
  max-width: 450px;
  }

  @media screen and (min-width:$desktop){
  max-width: 358px;
  margin-right: 12px;
  }
}

.button_wrap{
  position: relative;
}

.register__button {
  margin-top: 20px;
  padding-right: 15px;

  @media screen and (min-width:$mobile){
  margin-left: 12px;
  }

  @media screen and (min-width:$desktop){
  margin: 0;
  padding: 0;
  }
}

.register__icon {
  position: absolute;
  bottom: 13px;
  right: 24px;

  @media screen and (min-width:$tablet){
  top: 34px;
  right: 28px;
  }

  @media screen and (min-width:$desktop){
  top: 13px;
  right: 18px;
  }
}

footer {
  background-color: var(--background-text-dark);
}