footer {

  width: auto;
  background-color: var(--background-text-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer{
 display: flex;
 flex-direction: column;
@extend %container;

  @include tablet{
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly
  }

  @include desktop{
  flex-direction: row;
  align-items: baseline;
  }
}

.footer__info {
 width: auto;
  color: var(--text-lite);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet{
   width: auto;
   margin-bottom: 60px;
  }

    @include desktop{
align-items: flex-start;
margin: 0;
  }
}

.logo__text{
 font-family: Raleway;
  @extend %logo;
}

.logo-color {
  color: var(--text-lite);
}

.footer__address {
  color: var(--text-lite) 60%;
  font-family: var(--file-font);
  font-weight: normal;
  font-style: normal;
  font-size: var(--size-repeat);
  line-height: 1.7;
  letter-spacing: var(--min-spacing);
}

.address-list {
  padding-top: 20px;
}

.footer__item{
 text-align: center;
  margin-bottom: 9px;

  @include desktop{
  text-align: left;
  }

}

.footer__link {
  width: 100%;
  color: var(--text-lite);
  opacity: 60%;
  margin-bottom: 9px;

  a {
  color: var(--text-lite);
  }
}

.footer__social {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0 60px 0;
 @include tablet{
width:auto;
padding: 0;
margin-bottom: 60px;
}

  @include desktop{
  margin-left: 66px;
  margin-right: 88px;
    justify-content: flex-start;
  align-items: baseline;

  }
}

.footer__title {
  text-transform: uppercase;
  color: var(--text-lite);
  font-weight: 700;
  font-size: var(--size-repeat);
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
  text-align: center;

  @include desktop{
   width: 100%;
   text-align:start;
  }
}

.footer__social-list {
  display: flex;

}

.footer__social-item{
  margin-top: 20px;
  margin-right: 10px;
}

.footer-soc {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--text-lite);


  &:hover,
  &:focus {
  fill: var(--text-lite);
  background-color: var(--logo-color);
  border-radius: 50%;
  }
}

// social

.register {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include desktop{
   width: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  }
}

  .register__wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include desktop{
  flex-direction: row;
  align-items: flex-start;
  }
  }


.register__form {
  width: auto;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-text-dark);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  outline: none;
  padding-left: 16px;
  margin-right: 12px;
  transition: outline-color var(--time) var(--timing-function);

  &::placeholder {
  color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
  border-color: var(--logo-color);
  }

  @include mobile{
  width: 450px;
  }

  @include tablet{
  width: 450px;
  }

  @include desktop{
  width: 358px;
  }
}

.button_wrap{
  position: relative;
}

.register__button {
  margin-top: 20px;
  padding-right: 15px;
  margin-left: 12px;

  @include desktop{
   margin: 0;
   padding: 0;
  }
}

.register__icon {
  position: absolute;

  bottom: 13px;
  right: 24px;

  @include tablet{
  top: 34px;
  right: 28px;
  }

  @include desktop{
  top: 13px;
  right: 18px;
  }
}

