footer {
  display: flex;
  background-color: var(--background-text-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer{
  display: flex;
  align-items: baseline;
  @extend %container;
}

.footer__info {
  color: var(--text-lite);
}

.logo__text{
  @extend %logo;
}

.logo-color {
  color: var(--text-lite);
}

.footer__address {
  color: var(--text-lite) 60%;
  font-family: var(--file-font);
  font-weight: normal;
  font-style: normal;
  font-size: var(--size-repeat);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-list {
  padding-top: 20px;
}

.footer__item{
  margin-bottom: 9px;
}

.footer__link {
  color: var(--text-lite);
  opacity: 60%;
  margin-bottom: 9px;

  a {
  color: var(--text-lite);
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  background-color: var(--background-text-dark);
  margin-left: 66px;
  margin-right: 88px;
}

.footer__title {
  text-transform: uppercase;
  color: var(--text-lite);
  font-weight: 700;
  font-size: var(--size-repeat);
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
}

.footer__social-list {
  display: flex;

}

.footer__social-item{
  margin-top: 20px;
  margin-right: 10px;
}

.footer-soc {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--text-lite);

  &:hover,
  &:focus {
  fill: var(--text-lite);
  background-color: var(--logo-color);
  border-radius: 50%;
  }
}

// social

.register {
  position: relative;
  display: flex;
  flex-direction: column;

  .register__wrap {
  margin-top: 20px;
  }
}

.register__form {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-text-dark);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  outline: none;
  padding-left: 16px;
  transition: outline-color var(--time) var(--timing-function);

  &::placeholder {
  color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
  border-color: var(--logo-color);
  }
}

.register__button {
  padding-right: 15px;
  margin-left: 12px;
}

.register__icon {
  position: absolute;
  top: 48px;
  right: 28px;
}