

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--text-lite);
  @extend %container;
}

.logo_link {
  display: flex;
}

.logo_text {
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
}

.navigation {
  display: flex;
  margin-left: 93px;
  margin-right: 315px;
}

.navigation_list {
  display: flex;
  align-items: center;
}

.navigation_item:nth-child(1) {
  margin-right: 53px;
}

.navigation_item:nth-child(2) {
  margin-right: 50px;
}

.navigation_link {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--size-repeat);
  line-height: 1.2;
  color: var(--primary-color);
  transition: color var(--time) var(--timing-function);
  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color);
  border-radius: 4px;
  opacity: 0;
  transition: opacity var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function);
  }
}

.navigation_link:hover::after {
  content: "";
  opacity: 1;
}

.navigation_link:hover,
.navigation_link:focus {
  color: var(--logo-color);
}

.logo {
  color: var(--logo-color);
  &::after {
  content: "";
  opacity: 1;
  }
}

/* contact */

.contact {
  display: flex;
  font-weight: 500;
  font-size: var(--size-repeat);
  line-height: var(--line-little);
}

.contact_link {
  @extend %flex;
  color: var(--text-color);
  transition: color var(--time) var(--timing-function);
  @extend %mail;

  &:hover,
  &:focus {
  fill: var(--logo-color);
  color: var(--logo-color);
  }
}

.mail {
  margin-right: 30px;
}

.contact_icon {
  fill: currentColor;
  margin-right: 10px;
}