

.header .container {
  height: 80px;

}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
      height: 60px;
  @include mobile{
    height: 60px;
  }

  @include tablet{
    height: 80px;
  }

  @include desktop{
      height: 80px;
  }
}

.logo__link {
  // width: 185px;
  display: flex;
  // justify-content: center;

}

.logo__text {
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
}

.logo{
 color: var(--logo-color);
}

.menu{
margin-left: auto;

 @include tablet{
  display: none;
 }

  @include desktop{
  display: none;
 }
}

.menu__btn-open{
 border: none;
 background-color: var(--text-lite);

//  @include tablet{
//   display: none;
//  }
//  @include desktop{
//   display: none;
//  }
}

.icon-menu {
 fill: black;
 width:24px;
 height:16px;
}

.mob__menu {
  position: fixed;
  z-index: 1;
  background-color: var(--text-lite);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  > .menu__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;

  }
}

.close__menu-btn{
  display: block;
  margin-left: auto;
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--text-lite);
  margin-top: 10px;
  margin-right: 15px;
}

.icon-close_24{
  width: 19px;
  height: 19px;
  fill: black;
}

// .menu__navigation{
// color: var(--prime-text);

//   &:hover{
//     color: var(--logo-color);
//   }
// }

.menu__navigation__list{
 display: flex;
 flex-direction: column;
justify-content: space-evenly;
color: var(--prime-text);

// padding-bottom: 302px;

}

.menu__navigation__item{
    padding-bottom: 36px;
    color: var(--prime-text);


}

.menu__navigation__item:not(:last-child)::after{
  content: ' ';
  height: 22px;
  border-right: 1px solid #212121 20% ;
  }


.menu__navigation__link{
  font-family: 'Roboto';
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--prime-text);
}

.menu__navigation__link:hover{
  color: var(--logo-color);
}


.menu__contact{
 display: flex;
 flex-direction: column-reverse;

 @include desktop{
  flex-direction: row;
 }


}

.menu__contact__link{
 font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--logo-color);
padding-bottom: 32px;
 
@include tablet{
  display: none;
}
@include desktop{
  display: none;
}
}

.mail{
 font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;

}

.menu__soc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  margin-bottom: 48px;

}


.menu__soc-list{
  display: flex;
  flex-direction: row;
}

.menu__soc-item{
  position: relative;
}

.menu__soc-item:not(:last-child):before{
  content: '';
  position: absolute;
  right: 9px;
  height: 22px;
  width: 1px;
  background-color:rgba(33, 33, 33, 0.2);
}


.menu__soc-link {
  font-weight: 500;
  color: var(--logo-color);
  padding-right: 20px;
}

//                                tab-desktop menu



// .navigation{
//   @include mobile{
//  display: none;
//  }
// }

// .contact{

// }
.tab-desk-menu{
  width: 100%;
    display: none;
      @include tablet{
  display: flex;
  justify-content: space-between;
}

  @include desktop{
  display: flex;
  justify-content: space-between;
  }

}

.tab-desk-menu .container{
  display: none;
  @include mobile{
  display: none;
  }



  @include tablet{
  display: flex;
  justify-content: space-between;
}

  @include desktop{
  display: flex;
  justify-content: space-between;
  }
}


.navigation {
  width: 100%;
@include tablet{
    display: flex;
    justify-content: space-around;

  @include desktop{
  display: flex;
  // margin-left: 93px;

  }
}
}

.navigation__list {
width: 100%;
    @include tablet{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }
}

// .navigation__item:nth-child(1) {
//   margin-right: 53px;
// }

// .navigation__item:nth-child(2) {
//   margin-right: 50px;
// }

.navigation__link {

    @include tablet{
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--size-repeat);
  line-height: 1.2;
  color: var(--primary-color);
  transition: color var(--time) var(--timing-function);
  }
      @include desktop{
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--size-repeat);
  line-height: 1.2;
  color: var(--primary-color);
  transition: color var(--time) var(--timing-function);
  }
  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color);
  border-radius: 4px;
  opacity: 0;
  transition: opacity var(--time) var(--timing-function),
  background-color var(--time) var(--timing-function);

  }

  &:hover::after {
  content: "";
  opacity: 1;
  }

  &:hover,
  &:focus {
  color: var(--logo-color);
  }
}

.logo {
  color: var(--logo-color);
  &::after {
  content: "";
  opacity: 1;
  }
}

/* contact */

.contact {

  @include tablet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: var(--size-repeat);
    line-height: var(--line-little);
  }

  @include desktop{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-size: var(--size-repeat);
    line-height: var(--line-little);
  }
}

// .contact__item{
// @include desktop{
// // width: 100%;
// }
// }

.contact__link {

    @include tablet{
      display: flex;
      font-weight: 500;
      font-size: var(--size-repeat);
      line-height: var(--line-little);
      color: var(--text-color);
      transition: color var(--time) var(--timing-function);
    }
        @include desktop{
          display: flex;
          justify-content: flex-end;
          font-weight: 500;
          font-size: var(--size-repeat);
          line-height: var(--line-little);
          color: var(--text-color);
          transition: color var(--time) var(--timing-function);
        }
}

.contact__item:first-of-type{

    @include desktop{
    // margin-bottom: 10px;
  }

  &:hover,
  &:focus {
  fill: var(--logo-color);
  color: var(--logo-color);
  }
}

.mail {
    margin-bottom: 10px;
      @include desktop{
  margin:0 30px 0 0;
  color: var(--logo-color);
  }
}

.contact__icon {

      @include tablet{}
  fill: currentColor;
  margin-right: 10px;
}

