
.hero{
    max-width: 1600px;
}

@media screen and (min-width:$mobile) {
  .hero{
    max-width: 1600px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: var(--gradient),
      url(../images/Img-min.jpg);
    background-color: var(--background-text-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero{
      background-image: var(--gradient),
        url(../images/x2/Headerimgmobx2-min.jpg);
    }
  }
}

@media screen and (min-width:$tablet) {
  .hero{
    max-width: 1600px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: var(--gradient),
      url(../images/tab/header-imgtab.png);
    background-color: var(--background-text-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero{
      background-image: var(--gradient),
        url(../images/x2/Headerimgtabx2-min.jpg);
    }
  }
}

@media screen and (min-width:$desktop) {
  .hero{
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-image: var(--gradient),
      url(../images/ImgHero.png);
    background-color: var(--background-text-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero{
      background-image: var(--gradient),
        url(../images/x2/headerImgdesktopx2-min.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px/26px);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-lite);
  text-align: center;
  padding-top: 118px;

  @media screen and (min-width:$desktop){
  padding-top: 200px;
  max-width:696px;
  font-size: 44px;
  line-height: calc(60px/44px);
  letter-spacing: 0.06em;
  }
}

.hero__button {
  font-weight: 700;
  font-size: var(--biger-size);
  line-height: calc(30px/16px);
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--logo-color);
  color: var(--text-lite);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;

  @media screen and (min-width:$desktop){
  width: 216px;
  height: 50px;
  }
}










  // // max-width: 479px;
  // height: 400px;
  // background-image: var(--gradient),
  //   url(../images/Img-min.jpg);
  //   background-image: var(--gradient),
  //   url(../images/Img-min.webp);

  //   @include retina {
  //   background-image: var(--gradient),
  //   url(../images/x2/Headerimgmobx2-min.jpg);
  //   }
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   display: flex;
  //   flex-direction: column;
  //   align-content: center;
  //   justify-content: center;
  //   align-items: center;

  // @include mobile {
  //   // min-width: 480px;
  //   // max-width: 767px;
  //   height: 400px;
  //   background-image: var(--gradient),
  //   url(../images/x2/header-imgmob.jpg);
  //   background-image: var(--gradient),
  //   url(../images/x2/header-imgmob.webp);
  //   @include retina {
  //   background-image: var(--gradient),
  //   url(../images/x2/Headerimgmobx2-min.jpg);
  //   }
  // }

  // @include tablet {
  //   // min-width: 768px;
  //   // max-width: 1199px;
  //   height: 400px;
  //   background-image: var(--gradient),
  //   url(../images/tab/header-imgtab.png);
  //       background-image: var(--gradient),
  //   url(../images/tab/header-imgtab.webp);

  // @include retina {
  //   background-image: var(--gradient),
  //   url(../images/x2/Headerimgtabx2-min.jpg);
  //   }
  // }

  // @include desktop {
  // // min-width: 1200px;
  // // max-width: 2200px;
  // height: 600px;
  // background-image: var(--gradient),
  //   url(../images/Img-min.jpg);
  //   background-image: var(--gradient),
  //   url(../images/Img-min.webp);

  // @include retina { 
  //   background-image: var(--gradient),
  //   url(../images/x2/headerImgdesktopx2-min.jpg);
  //       // background-size: cover;
  //   }
  // }
//   max-width: 479px;
//   height: 400px;
//   background-image: var(--gradient),
//     url(../images/header-imgmob.jpg);
//     background-image: var(--gradient),
//     url(../images/header-imgmob.webp);
//     @include retina {
//     background-image: var(--gradient),
//     url(../images/x2/Headerimgmobx2-min.jpg);
//     }
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     justify-content: center;
//     align-items: center;
    

//   @include mobile {
//     min-width: 480px;
//     max-width: 767px;
//     height: 400px;
//     background-image: var(--gradient),
//     url(../images/header-imgmob.jpg);
//     background-image: var(--gradient),
//     url(../images/header-imgmob.webp);
//     @include retina {
//     background-image: var(--gradient),
//     url(../images/x2/Headerimgmobx2-min.jpg);
//     }
//   }

//   @include tablet {
//     min-width: 768px;
//     max-width: 1199px;
//     height: 400px;
//     background-image: var(--gradient),
//     url(../images/header-imgtab.png);
//         background-image: var(--gradient),
//     url(../images/header-imgtab.webp);

//   @include retina {
//     background-image: var(--gradient),
//     url(../images/x2/Headerimgtabx2-min.jpg);
//     }
//   }

//   @include desktop {
//   min-width: 1200px;
//   height: 600px;
//   background-image: var(--gradient),
//     url(../images/ImgHero.png);
//     background-image: var(--gradient),
//     url(../images/ImgHero.webp);

//   @include retina { 
//     background-image: var(--gradient),
//     url(../images/x2/headerImgdesktopx2-min.jpg);
//         background-size: cover;
//     }
//   }
// }

