header {
  border-bottom: #ececec 1px solid;
}

.portfolio-wrap .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio{
  @extend %section;
}

.nav__btn{
  display: flex;

  @media screen and ($desktop){
  width: 615px;
  margin-left: auto;
  margin-right: auto;
  }
}

.nav__list {
  max-width: 350px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-right: auto;

  @media screen and (min-width:$mobile){
  max-width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  }

  @media screen and (min-width:$tablet){
  max-width: 615px;
  height: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  }

  @media screen and (min-width:$desktop){
  width: 615px;
  height: 40px;
  }
}

.title-non {
  @extend %title-non;
}

.nav__item {
  border-radius: 4px;

  @media screen and (min-width:$mobile){
  margin-bottom: 7px;
  }
}

.nav__item > .logo {
  background-color: var(--logo-color);
  color: var(--text-lite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav__button{
  font-weight: 500;
  font-size: var(--biger-size);
  line-height: 1.6;
  letter-spacing: var(--min-spacing);
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  background-color: var(--backgraund-grey);
  color: var(--prime-text);
  transition: background-color var(--time) var(--timing-function),
  color var(--time) var(--timing-function),
  box-shadow var(--time) var(--timing-function);

  &:hover,
  &:focus {
  background-color: var(--logo-color);
  color: var(--text-lite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/*                     cards                    */

.examples {
  display: flex;
}

.examples__list {
  display: flex;
  flex-direction: column ;
  align-items: center;
  gap: 30px;

  @media screen and (min-width:$tablet){
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

  @media screen and (min-width:$desktop){
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  }
}

.examples__item {
  height: 404px;
  border: 1px solid #eeeeee;
  gap: 30px;
  transition: box-shadow var(--time) var(--timing-function);

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width:$tablet){
  width: 354px;
  height: 440px;
  }

  @media screen and (min-width:$desktop){
  width: 370px;
  height: 404px;
  }
}

.examples__item:last-of-type{
  display: none;
  border: none;
  box-shadow: none;

  @media screen and (min-width:$tablet){
  display: inline;
  }

  @media screen and (min-width:$desktop){
  display: none;
  }
}

/* overlay */

.examples__link {
  position: relative;
  overflow: hidden;
  display: block;
  transition: var(--time) var(--timing-function);

  .examples__item:hover &::before {
  content: "";
  transform: translateY(-100%);
  transition: transform var(--time) var(--timing-function);
  }
}

.portfolio-img{
  width: 450px;
  height: 294px;

  @media screen and (min-width:$tablet){
  width: 354px;
  }

  @media screen and (min-width:$desktop){
  width: 370px;
  }
}

.overlay__text {
  color: var(--text-lite);
  background-color: var(--logo-color);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: var(--line-little);
}

.overlay__wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--logo-color);
  opacity: 0.9;
  transform: translateY(0);
  transition: transform var(--time) var(--timing-function);

  &:hover::before {
  content: "";
  opacity: 0;
  }

  .examples__item:hover & {
  opacity: 0.9;
  transform: translateY(-100%);
  transition: transform var(--time) var(--timing-function);
  }
}

.card__title {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--prime-text);
  background-color: var(--text-lite);
}

.card__text {
  font-family: inherit;
  font-size: var(--biger-size);
  line-height: 1.71;
  letter-spacing: var(--min-spacing);
  color: var(--text-color);
  background-color: var(--text-lite);
  margin-top: 4px;
}

.card__info {
  padding: 20px 24px 20px 24px;
  opacity: 1;
}
