.only-top {
  padding-top: 60px;

  @include desktop{
  padding-top: 94px;
  }
}


.about__list {
  @extend %container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

    @include tablet{
        display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    gap: 30px;
  }

  @include desktop{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  }
}

.about__item{
  @include tablet{
  width: 354px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
}

.about__img {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: var(--backgraund-grey);
  border-radius: 4%;
    & ::before {
  content: "";
  width: 100%;
  border-radius: 4%;
  }

  @include tablet{
  width: 354px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & ::before {
  content: "";
  width: 354px;
  border-radius: 4%;
  }


  @include desktop{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 270px;
  }
  & ::before {
  content: "";
  width: 270px;
  border-radius: 4%;
  }
  }
}

.about__title {
  @extend %background-lite;
  text-transform: uppercase;
  font-size: var(--size-repeat);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;


  @include desktop{
  line-height: var(--line-little);
  padding-bottom: 10px;
  }

}

.about__text {
  @extend %background-lite;
  color: var(--text-color);
  font-size: var(--size-repeat);
  line-height: 1.71;
  letter-spacing: var(--min-spacing);
  padding-bottom: 30px;

  @include desktop{
  width: 270px;
  }


}

/*                section image                          */

.work{
  display: none;
  @include mobile{
  display: none;
  }

  @include tablet{
  display: none;
  }

  @include desktop{
  display: inline;
  }
 }

.work__image{
  @extend %container;
  // @extend %section;
}

.titles {
  @extend %titles;
  padding: 60px 0 30px 0;

  @include desktop{
  padding: 94px 0 50px 0;
 }
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;

  .work__item {
  position: relative;
  }
}

.work__wrap {
  position: absolute;
  bottom: 0;
  opacity: 1;
  @extend %flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-lite);
  font-weight: 700;
  @extend %topography;

  .work__text {
  height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  @extend %topography;
  }
}

/*                section team                             */

.team-color {
  background-color: var(--backgraund-grey);
}

.team__list {
  @extend %container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  background-color: var(--backgraund-grey);
  padding-bottom: 60px;
  @include tablet{
   flex-direction: row;
   flex-wrap: wrap;
  }

  @include desktop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  }
}

  .team__item {
  max-width: 450px;
  // height: 622px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-lite);
  box-shadow: var(--team-shadow);

  @include tablet{
  width:354px;
  height:536px;
  } 

  @include desktop{
   width:270px;
  height:428px;
  }
  }


.team-img{
  width: 450px;
  height: 460px;

  @include tablet{
  width:354px;
  height:374px;
  }

  @include desktop{
  width:270px;
  height:260px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__info {

  background-color: var(--text-lite);
  padding-bottom: 10px;
  font-weight: 500;
  font-size: var(--biger-size);
  line-height: var(--line-little);
  text-align: center;
  letter-spacing: var(--min-spacing);
  color: var(--prime-text);

  @include desktop{
  width: 270px;
  }
}

.team__text {
  font-size: var(--biger-size);
  line-height: var(--line-little);
  letter-spacing: var(--min-spacing);
  background-color: var(--text-lite);
  text-align: center;
  color: var(--text-color);

  @include desktop{
  width: 270px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--time) var(--timing-function);

  &:hover,
  &:focus {
  fill: var(--text-lite);
  background-color: var(--logo-color);
  border-radius: 50%;
  }
}

// /* ..........................client................................... */

.client {
  padding-bottom: 60px;

  @include desktop{
  padding-bottom: 94px;
  }
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

  .client__item {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  
  @include tablet{
  width: 226px;
  }

  @include desktop{
  flex-wrap: wrap;
  width: 170px;
  }
}


.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;

  @include tablet{
  width: 226px;
  }

  @include desktop{
  width: 170px;
  }

  &:hover,
  &:focus {
  border: 1px solid  var(--logo-color);
  border-radius: 4px;
  transition: border var(--time) var(--timing-function);
  }
}

.icons {
  fill: #afb1b8;
  transition: fill var(--time) var(--timing-function);

  &:hover,
  &:focus {
  fill: var(--logo-color);
  }
}

